.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  z-index: 1001;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.5s;
  padding-top: 60px;
}

.main-content.shifted {
  margin-left: 250px;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    top: 15px;
    left: 15px;
    font-size: 24px;
    padding: 3px 8px;
  }

  .main-content {
    margin-left: 0;
    padding-top: 50px;
  }

  .main-content.shifted {
    margin-left: 0;
  }

  .leaflet-container {
    height: 400px !important;
    width: 100% !important;
  }
}